@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  position: relative; }

a {
  text-decoration: none;
  color: #fff; }

.login-bg {
  background-image: url("https://static.pexels.com/photos/23049/pexels-photo.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-bg form {
    background-color: rgba(42, 63, 84, 0.7);
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .login-bg form #username, .login-bg form #password {
      padding: 5px;
      background: rgba(255, 255, 255, 0.3);
      border: none;
      border-radius: 10px;
      margin-bottom: 25px;
      outline: none; }
    .login-bg form > label {
      color: #25bc9c;
      font-family: 'Roboto', sans-seif;
      font-size: 15px;
      font-weight: 700;
      margin-left: 20px; }
    .login-bg form #submit {
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .login-bg form #submit #keepSignedIn-wrapper {
        display: flex;
        align-items: center; }
        .login-bg form #submit #keepSignedIn-wrapper #keepSignedIn {
          display: none; }
          .login-bg form #submit #keepSignedIn-wrapper #keepSignedIn:checked + #keepSignedIn-box:before {
            font-family: FontAwesome;
            content: "\f00c";
            color: #2a3f54;
            position: absolute;
            top: 2px;
            left: 2px; }
        .login-bg form #submit #keepSignedIn-wrapper #keepSignedIn-box {
          width: 20px;
          height: 20px;
          background-color: #25bc9c;
          border-radius: 5px; }
        .login-bg form #submit #keepSignedIn-wrapper label {
          margin-left: 5px;
          color: #25bc9c; }
      .login-bg form #submit button {
        background-color: #25bc9c;
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        box-shadow: 0 0 0 #000; }
        .login-bg form #submit button:hover {
          transform: scale(1.05, 1.05);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }

nav {
  width: 200px;
  top: 0px;
  height: 100vh;
  background-color: #2a3f54;
  padding: 10px;
  position: fixed;
  left: -130px; }
  nav ul {
    list-style: none;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    nav ul a {
      padding: 0  20px; }
    nav ul li {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      text-shadow: 2px 2px 5px #000; }
      nav ul li img {
        margin-top: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%; }
      nav ul li p {
        color: #25bc9c;
        display: flex;
        flex-direction: column;
        padding: 20px; }
      nav ul li:hover {
        font-size: 17px;
        text-shadow: 3px 3px 8px #000; }
      nav ul li .fa {
        font-size: 20px; }
    nav ul a:hover i {
      color: #25bc9c; }
  nav:hover {
    left: 0px; }
  nav:hover + .body-wrapper {
    margin: 10px 10px 0px 210px; }

.body-wrapper {
  height: 200px;
  background-color: #25bc9c;
  margin: 10px 10px 0px 80px; }

/*# sourceMappingURL=style.css.map */
