@import url("https://fonts.googleapis.com/css?family=Montserrat");
@import url("https://fonts.googleapis.com/css?family=Roboto:900");
@import url("https://fonts.googleapis.com/css?family=Roboto");
/*Scroll Design*/
::-webkit-scrollbar {
  width: 5px; }

/* this targets the default scrollbar (compulsory) */
::-webkit-scrollbar-track {
  background-color: #474d59; }

/* the new scrollbar will have a flat appearance with the set background color */
::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2); }

/* this will style the thumb, ignoring the track */
::-webkit-scrollbar-button {
  background-color: #000; }

/* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */
::-webkit-scrollbar-corner {
  background-color: #474d59; }

/* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  position: relative;
  outline: none; }

body {
  background-image: url("../../img/bg.jpg");
  background-attachment: fixed;
  font-family: 'Roboto', sans-seif; }

a {
  text-decoration: none;
  color: #fff; }

button {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.3);
  transform: scale(1, 1);
  transition: all .3s ease-out; }
  button:hover {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    transform: scale(1.01, 1.01); }

div::selection, input::selection, textarea::selection, select::selection, option::selection, button::selection, a::selection {
  background-color: #25bc9c; }

.login-bg {
  background-image: url("../../img/login-bg.jpg");
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center; }
  .login-bg form {
    width: 35%;
    height: 40%;
    background-color: rgba(42, 63, 84, 0.7);
    border-radius: 5px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    .login-bg form > label {
      color: #25bc9c;
      font-family: 'Roboto', sans-seif;
      font-size: 15px;
      font-weight: 700;
      margin-left: 20px; }

#username, #password {
  padding: 10px 20px;
  background: rgba(255, 255, 255, 0.3);
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
  outline: none;
  font-family: Roboto;
  font-size: 16px;
  color: #fff; }

#keepSignedIn-box {
  width: 20px;
  height: 20px;
  background-color: #25bc9c;
  border-radius: 5px; }

#keepSignedIn {
  display: none; }
  #keepSignedIn:checked + #keepSignedIn-box:before {
    font-family: FontAwesome;
    content: "\f00c";
    color: #2a3f54;
    position: absolute;
    top: 2px;
    left: 2px; }

#keepSignedIn-wrapper {
  display: flex;
  align-items: center; }
  #keepSignedIn-wrapper label {
    margin-left: 5px;
    color: #25bc9c; }

#submit {
  display: flex;
  justify-content: space-around;
  align-items: center; }
  #submit button {
    background-color: #25bc9c;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #fff;
    box-shadow: 0 0 0 #000; }
    #submit button:hover {
      transform: scale(1.05, 1.05);
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3); }

nav {
  width: 200px;
  top: 0px;
  height: 100vh;
  background-color: #2a3f54;
  padding: 10px;
  position: fixed;
  left: -130px; }
  nav ul {
    list-style: none;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    nav ul a {
      padding: 0  20px; }
    nav ul li {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: 15px;
      text-shadow: 2px 2px 5px #000;
      cursor: pointer; }
      nav ul li img {
        margin-top: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%; }
      nav ul li p {
        color: #25bc9c;
        display: flex;
        flex-direction: column;
        padding: 20px; }
      nav ul li:hover {
        font-size: 17px;
        text-shadow: 3px 3px 8px #000; }
      nav ul li .fa {
        font-size: 20px; }
    nav ul a:hover i {
      color: #25bc9c; }
  nav:hover {
    left: 0px; }
  nav:hover + .body-wrapper {
    margin: 10px 10px 0px 210px; }

.body-wrapper {
  margin: 10px 10px 0px 80px; }

#greeting {
  text-transform: capitalize; }

.block {
  background-color: rgba(0, 0, 0, 0.2);
  padding: 0px; }

.title {
  width: 100%;
  background-color: #2a3f54;
  color: #fff;
  text-align: center;
  font-size: 19px;
  padding: 5px; }

.land-grid {
  width: 90%;
  height: 1800px;
  margin: 0 auto;
  display: grid;
  grid: repeat(12, 1fr)/repeat(4, 1fr);
  grid-gap: 20px; }

#total-users {
  grid-area: 1 / 1 / 2 / 2; }

#avg-work {
  grid-area: 1 / 2 / 1 / 3; }

#messages {
  grid-area: 1 / 3 / 1 / 4; }

#total-visits {
  grid-area: 1 / 4 / 1 / 5; }

#weather {
  grid-area: 2 / 1 / span 2 / span 3; }

#weather-stat {
  grid-area: 2 / 4 / span 2 / 5; }

#line-chart {
  grid-area: 4 / 1 / span 3 / span 4; }

#create-task {
  grid-area: 7 / 1 / span 3 / 2; }

#display-task {
  grid-area: 7 / 2 / span 4 / 3; }

#pie-charts {
  grid-area: 7 / 3 / 8 / span 2; }

#bar-chart {
  grid-area: 10 / 1 / 11 / 2; }

#map {
  grid-area: 8 / 3 / span 3/ span 2; }

#platforms-pie {
  grid-area: 11 / 1 / span 2 / 2; }

#guests-pie {
  grid-area: 11 / 2 / span 2 / 3; }

#server-pie {
  grid-area: 11 / 3 / span 2 / 4; }

#calendar {
  grid-area: 11 / 4 / span 2 / 5; }

/* Media Queries */
/*Large Screens*/
@media only screen and (max-width: 1200px) {
  .land-grid {
    width: 95%; } }
@media only screen and (max-width: 992px) {
  .land-grid {
    width: 100%;
    grid: repeat(19, 1fr)/repeat(4, 1fr);
    grid-gap: 20px;
    height: 2500px; }

  #weather {
    grid-area: 2 / 1 / span 2 / span 4; }

  #weather-stat {
    grid-area: 4 / 1 / span 2 / span 2; }

  #bar-chart {
    grid-area: 4 / 3 / span 2 / span 2; }

  #line-chart {
    grid-area: 6 / 1 / span 2 / span 4; }

  #create-task {
    grid-area: 8 / 1 / span 3 / span 2; }

  #display-task {
    grid-area: 8 / 3 / span 3 / span 2; }

  #pie-charts {
    grid-area: 11 / 1 / 12 / span 4; }

  #map {
    grid-area: 12 / 1 / span 3 / span 4; }

  #platforms-pie {
    grid-area: 15 / 1 / span 2 / span 2; }

  #guests-pie {
    grid-area: 15 / 3 / span 2 / span 2; }

  #server-pie {
    grid-area: 17 / 1 / span 2 / span 2; }

  #calendar {
    grid-area: 17 / 3 / span 2 / span 2; } }
@media only screen and (max-width: 650px) {
  .land-grid {
    width: 100%;
    grid: repeat(14, 1fr)/repeat(2, 1fr);
    grid-gap: 10px;
    height: 2500px; }

  #total-users {
    grid-area: 1 / 1 / 2 / 2; }

  #avg-work {
    grid-area: 1 / 2 / 2 / 3; }

  #messages {
    grid-area: 2 / 1 / 3 / 2; }

  #total-visits {
    grid-area: 2 / 2 / 3 / 3; }

  #weather {
    grid-area: 3 / 1 / 4 / 3; }

  #weather-stat {
    grid-area: 4 / 1 / 5 / 3; }

  #bar-chart {
    grid-area: 5 / 1 / 6 / 3; }

  #line-chart {
    grid-area: 6 / 1 / 7 / 3; }

  #create-task {
    grid-area: 7 / 1 / 8 / 3; }

  #display-task {
    grid-area: 8 / 1 / 9 / 3; }

  #pie-charts {
    grid-area: 9 / 1 / 10 / 3; }

  #map {
    grid-area: 10 / 1 / 12 / 3; }

  #platforms-pie {
    grid-area: 12 / 1 / 13 / 2; }

  #guests-pie {
    grid-area: 12 / 2 / 13 / 3; }

  #server-pie {
    grid-area: 13 / 1 / 14 / 2; }

  #calendar {
    grid-area: 13 / 2 / 14 / 3; } }
#total-users, #avg-work, #messages, #total-visits {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center; }
  #total-users div, #avg-work div, #messages div, #total-visits div {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    #total-users div h3, #avg-work div h3, #messages div h3, #total-visits div h3 {
      color: #fff;
      font-weight: 200; }
    #total-users div .fa, #avg-work div .fa, #messages div .fa, #total-visits div .fa {
      font-size: 30px;
      color: #25bc9c; }

.statistic-counter {
  font-size: 40px;
  font-weight: 700;
  color: #25bc9c; }

.create-task-content {
  height: calc(100% - 33px);
  padding: 20px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around; }
  .create-task-content select {
    border: none;
    background: none;
    border-bottom: 2px solid #25bc9c;
    color: #25bc9c;
    font-size: 15px;
    margin-bottom: 20px; }
  .create-task-content select option {
    background: #2a3f54;
    color: #fff; }

#submit-task {
  border: none;
  border-radius: 50px;
  background-color: #25bc9c;
  color: #fff;
  padding: 5px; }

.task-display-content {
  height: calc(100% - 33px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  overflow-y: scroll; }

.task {
  width: 85%;
  margin-bottom: 20px; }
  .task h3 {
    color: #25bc9c; }
  .task:after {
    content: '';
    position: absolute;
    left: -19px;
    top: 0;
    width: 2px;
    height: 120%;
    background-color: #25bc9c; }
  .task span {
    text-transform: capitalize;
    color: #25bc9c; }

.semaphore {
  position: absolute;
  left: -28px;
  top: 0;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 0 0 0 rgba(0, 0, 0, 0.3);
  transform: scale(1, 1);
  transition: all .3s ease-out; }
  .semaphorehover {
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.5), 2px 2px 3px rgba(0, 0, 0, 0.3);
    transform: scale(1.01, 1.01); }

.high-priority {
  background-color: #fa9482; }

.medium-priority {
  background-color: #ffd288; }

.low-priority {
  background-color: #adfcba; }

.task-finished {
  background-color: #d2d2d2; }
  .task-finished:before {
    content: "\f00c";
    font-family: "FontAwesome";
    font-size: 16px;
    color: #25bc9c;
    z-index: 3;
    position: absolute;
    top: 1px;
    left: 1px; }

.remove-task {
  float: right;
  padding: 0px 2px;
  background-color: transparent;
  border: none;
  color: #a90a0a;
  font-size: 20px; }

.group {
  position: relative;
  margin-bottom: 15px; }
  .group input, .group textarea {
    font-size: 18px;
    padding: 7px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #25bc9c;
    background-color: transparent;
    color: #fff;
    resize: none; }
    .group input:focus ~ label, .group input:valid ~ label, .group textarea:focus ~ label, .group textarea:valid ~ label {
      top: -20px;
      font-size: 14px;
      color: #c9c4c4; }
    .group input:focus ~ .bar:before, .group input:focus ~ .bar:after, .group textarea:focus ~ .bar:before, .group textarea:focus ~ .bar:after {
      width: 50%; }
  .group label {
    color: #25bc9c;
    font-size: 15px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 0px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }

.bar {
  position: relative;
  display: block; }
  .bar:before, .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #25bc9c;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all; }
  .bar:before {
    left: 50%; }
  .bar:after {
    right: 50%; }

/* ANIMATIONS ================ */
@-webkit-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@-moz-keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }
@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

/*# sourceMappingURL=style.css.map */
