@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@mixin font-awesome($content){
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    display: inline-block;
    text-decoration: inherit;
    content: $content;
}

$main-color: rgba(42, 63, 84, 1);
$accent-color: rgba(37, 188, 156, 1);
$font-size: 10px;

*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  transition: all .2s ease-in-out;
  position: relative;
}

a{
  text-decoration: none;
  color: #fff;
}

.login-bg{
  background-image: url('https://static.pexels.com/photos/23049/pexels-photo.jpg');
  background-attachment: fixed;
  background-position: center center; 
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  form{
    background-color: rgba(42, 63, 84, .7);
    border-radius: 10px;
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    #username, #password{
      padding: 5px;
      background: rgba(255, 255, 255, .3);
      border: none;
      border-radius: 10px;
      margin-bottom: 25px;
      outline: none;
    }
    &>label{
      color: $accent-color;
      font-family: 'Roboto', sans-seif;
      font-size: 15px;
      font-weight: 700;
      margin-left: 20px;
    }
    #submit{
      display: flex;
      justify-content: space-around;
      align-items: center;

      #keepSignedIn-wrapper{
        display: flex;
        align-items: center;

        #keepSignedIn{
          display: none;
          &:checked + #keepSignedIn-box:before{
            font-family: FontAwesome;
            content: "\f00c";
            color: $main-color;
            position: absolute;
            top: 2px;
            left: 2px;
          }
        }
        #keepSignedIn-box{
          width: 20px;
          height: 20px;
          background-color: $accent-color;
          border-radius: 5px;
        }
        label{
          margin-left: 5px;
          color: $accent-color;

        }
      }
      button{
        background-color: $accent-color;
        border: none;
        border-radius: 5px;
        padding: 10px;
        color: #fff;
        box-shadow: 0 0 0 #000;
        
        &:hover{
          transform: scale(1.05, 1.05);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
        }
      }
    }

  }
}

nav{
  width: 200px;
  top: 0px;
  height: 100vh;
  background-color: $main-color;
  padding: 10px;
  position: fixed;
  left: -130px;
  
  ul{
    list-style:none;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    a{
      padding: 0  20px;
    }
    
    li{
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
      font-size: $font-size + 5px;
      text-shadow: 2px 2px 5px #000;

      img{
        margin-top: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }

      p{
        color: $accent-color;
        display: flex;
        flex-direction: column;
        padding: 20px;
      }
      
      &:hover{
        font-size: $font-size + 7px;
        text-shadow: 3px 3px 8px #000;
      }
      
      .fa{
       font-size: $font-size + 10px;
        }
      }
      a:hover i{
        color: $accent-color;
      }

    }
  &:hover{
    left: 0px;
  }

  &:hover + .body-wrapper{
    margin: 10px 10px 0px 210px;
  }
}

.body-wrapper{
  height: 200px;
  background-color: $accent-color;
  margin: 10px 10px 0px 80px;
}